<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>TSADMChat.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>02F95A422B0B4FAC00F4D5C0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>02F95A562B0B4FAD00F4D5C0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>02F95A602B0B4FAD00F4D5C0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
